

*{
    margin: 0%; padding: 0%;box-sizing: border-box;   
}

.main{
text-align: center;
padding-top: 8%;

}

.centrelogo{
   margin-top: 5%;
   margin-right: 20%;
   margin-bottom: 5%;
   margin-left: 20%;
}

#thelogo{
    width: 20%;
    height: 20%;
}

.shortmessage{

    text-align: center;
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: #44b29a;
}

.contentpara{

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 115%;
}

.hrdeco{

    border-top: dotted;
    text-align: center;
    width: auto;
    height: auto;
    margin-left: 48%;
    margin-right: 48%;
   
}

.lastpage2{
    text-align: center;
    width: 100%;
    height: 50%;

}

#mq1{

    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    color: #44b29a;
}

/* CONTENT OF Design what you want.

I like to keep it simple. My goals are to focus on typography,
content and conveying the message that you want to send.
STARTS HERE
 */


.matter1{
text-align: center;
width: 100%;

}

.pic1ofmatter1{
    width: 50%;
float: left;


}

.pic1ofmatter1 img {
    width: 20%;
    height: 20%;
    color: #44b29a;
margin-left: 450px;
}

.contentheadermatter1{
    width: 50%;
    float: left;
    font-family: 'Poppins', sans-serif; 

}

.contentheadermatter1 h3{
    color: #44b29a;
    font-family: 'Poppins', sans-serif; 
    margin-right: 250px;


}
.contentheadermatter1 p {
    margin-right: 250px;
}
 

    /* CONTENT OF WHAT CAN I DO "Develop what you need.

I'm a developer, so I know how to create your website
to run across devices using the latest technologies available."
starsw here */

.matter2{
    text-align: center;
    background-color: aqua;
    margin-top: 4%;
    width: 100%;


}

.contentheadermatter2{
    width: 50%;

    font-family: 'Poppins', sans-serif; 
    text-align: center;
    color: #44b29a;
    font-family: 'Poppins', sans-serif; 
    margin-right: 250px;
    background-color: aquamarine;


}
.contentheadermatter2 p {
    margin-right: 250px;
    text-align: center;
}

.contentheadermatter2 h3{

    text-align: center;
}

.pic1ofmatter2{
    width: 50%;
    background-color: blue;
}

.pic2ofmatter2 img {
    text-align: center;
    width: 12%;
    height: 20%;
    color: #44b29a;
margin-left: 700px;
}




